/*
  ****************************************
  ORBEON XFORM SPECIFIC STYLE
  ****************************************
 */
.orbeon .xforms-control {
	margin-bottom: 10px;
}
.orbeon .xforms-label {
	font-weight: bold;
	display: inline-block;
	min-width: 9em 
}
.orbeon .xforms-select1-appearance-full .xforms-label {
	 vertical-align: top 
}
.orbeon .xforms-input input, .orbeon .xforms-textarea textarea, .orbeon .xforms-select1 select {
	width: 20em;
	margin-bottom: 2px;
}
.orbeon .xforms-repeat-selected-item-1 .form-td {
	 background-color: #f5f5f5 
}
.orbeon .xforms-items {
	 display: inline-block 
}
.trigger_container {
	margin-bottom:20px;
}
.xforms-trigger-appearance-minimal img {
	vertical-align: middle
}
.xforms-output {
	margin:0;
}
.xforms-trigger {
	text-decoration:none;
}
.xforms-repeat-selected-item-1, .xforms-repeat-selected-item-2, .xforms-repeat-selected-item-3, .xforms-repeat-selected-item-4 {
	background:inherit;
}
.xforms-repeat-selected-item-2 {
	background:none;
}
.xxforms-dialog-body>a, .xxforms-dialog-body>span {
	width:100px;
}
.xbl-component {
	margin:5px 0;
}
.ui-state-error, .ui-state-highlight {
	padding: 0pt 0.7em;
	margin:20px auto;
	width:400px;
	font-size:12px;
}