<?xml version="1.0" encoding="UTF-8"?>
<config>
	<url>http://localhost:8080/orbeon/nomisma/</url>
	<sparql>http://localhost:3030/nomisma/query</sparql>
	<solr_published>http://localhost:8080/solr/nomisma/</solr_published>
	<id_path>/usr/local/projects/nomisma-ids/id</id_path>
	<dump_path>/usr/local/projects/nomisma/dump</dump_path>
	<flickr_api_key>226cb53f91a6c1331adfb52c365584e9</flickr_api_key>	
</config>
