@namespace xml "http://www.w3.org/XML/1998/namespace";

body {
	background-color: rgb(255,255,255);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
}
div.center {
	margin:0 auto;
	width:960px;
	background-color: rgb(240, 240, 240);
	border:1px solid #c2b9a9;
	margin-top:10px;
	padding:3px;
	display:table;
}
p {
	margin-left:40px;
	margin-right:40px;
}
li {
	margin-left:40px;
}
h3 {
	margin-left:40px;
}
h4 {
	margin-left:40px;
}
div#markup {
	display:none;
}
a[rel="nm:sourcePublication"]:before {
	content: 'Information adapted from ';
}
a[rel="nm:sourcePublication"]:after {
	content: attr(href);
	font-style:italic;
}
span[property="nm:findspot"] {
	text-decoration:underline;
}
span[rel="nm:findspot"] {
	display:block;
}
*[about]:before {
	content: attr(about) " (" attr(typeof) ")";
	font-weight:bold;
}
*[property]:before {
	content: attr(property) ": ";
	color:gray;
}
a[rel="nofollow"]:before {
	content: "";
}
*[rel]:before {
	content: attr(rel) ": ";
	color:gray;
}
*[resource]:after {
	content: " (" attr(resource) ") ";
	color:gray;
	font-style:italic;
}
#source *[xml|lang]:after {
	content: " (" attr(xml|lang) ") ";
	color:gray;
}
*[content]:after {
	content: " \"" attr(content) "\" ";
	color:gray;
}
div[typeof]>div {
	margin-left:2em;
}
div[rel]>div {
	margin-left:2em;
}
*[typeof] {
	margin-top:1em;
}
.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #ffffff;
	margin-left: 3px;
	margin-top: 3px;
	border:0px;
	text-decoration:underline;
	display:inline;
}
.media {
	width:25%;
	text-align:left;
	float:left;
	height:100px;
}
.media img {
	height:60px;
}
.flickr_thumbnail {
	float:left;
	width:150px;
	height:150px;
	text-align:center
}
/*
  ***************************************
  Timemap CSS
  ***************************************
 */
div#timelinecontainer {
	width:100%;
	height: 250px;
}
div#mapcontainer {
	width:100%;
	height: 400px;
}
div.olFramedCloudPopupContent {
	width: 300px;
}
div#help {
	font-size: 12px;
	width: 45em;
	padding: 1em;
}
/*
  div#timemap {
  padding: 1em;
  }
 */
div#timeline {
	width: 100%;
	height: 100%;
	font-size: 12px;
	background: #CCCCCC;
}
div#map {
	width: 100%;
	height: 100%;
	background: #EEEEEE;
}
div.infotitle {
	font-size: 14px;
	font-weight: bold;
}
div.infodescription {
	font-size: 14px;
	font-style: italic;
}
div.custominfostyle {
	font-family: Georgia, Garamond, serif;
	font-size: 1.5em;
	font-style: italic;
	width: 20em;
}
/*
  ***************************************
  Display pages
  ***************************************
 */
dt {
	width:125px;
	float:left;
}
.g_doc {
	width:30%;
	float:left;
	height:325px;
}
/* gallery image container */
.gi_c {
	margin:5px 0;
	text-align:center;
}
/* gallery image */
.gi {
	padding:0px 5px;
	max-width:120px;
}
.result_link {
	font-size:120%;
}
.thumbImage {
	margin:5px;
}
.thumbImage>img {
	max-width:120px;
}
/*
  ***************************************
  API documentation
  ***************************************
 */
#api-table {
	width:60%;
	margin: auto;
}
#api-table th {
	background-color:silver;
	border:1px solid gray;
}
#api-table th:first-child {
	text-align:left;
}
#api-table td:not(:first-child) {
	text-align:center;
}