/*
  ****************************************
  GLOBAL
  ****************************************
 */
body{
    background-color: #F8F8F8;
}
.nav{
    margin-top: 10px;
}
.navbar{
    margin-bottom: 0;
}
/*
  .navbar-brand {
  background: url('../images/nomisma.png') no-repeat left center;
  width:100%;
  }
 */
.row{
    background-color: white;
}
.highlight{
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}
.alert-box{
    width: 50%;
    margin: 20px auto;
}
.table-dl td{
    padding: 5px;
}
/*
  ***************************************
  INDEX
  ***************************************
 */
.media{
    display: inline;
}
.media img{
    height: 50px;
    margin: 5px;
}
/*
  ***************************************
  ONTOLOGY PAGE
  ***************************************
 */
.entity{
    border: 1px solid navy;
    padding: 5px;
    margin: 5px 0;
}

.entity h1,
.entity h2,
.entity h3,
.entity h4,
.entity h5{
    border-bottom: 1px solid navy;
}
.description{
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    background-color: rgb(242, 243, 244);
    margin-top: 5px;
    padding-bottom: 5px;
}
.description dl dd {
    margin-left: 1em;
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#footer{
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
}
/*
  ***************************************
  PAGINATION/SEARCH RESULTS
  ***************************************
 */
.result-doc{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid silver;
}
.doc-label{
    font-size: 120%;
}
.paging_div{
    padding: 10px 0;
    vertical-align: top
}
.page-nos{
    text-align: right;
}
#filter-form .form-control{
    width: 20em;
    display: inline;
}
/*
  ***************************************
  SPARQL
  ***************************************
 */
#sparqlForm{
    margin: 20px 0;
}
#sparqlForm select{
    width: 20em;
}
.CodeMirror{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.CodeMirror:focus{
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
/*
  ***************************************
  PAGE DISPLAY
  ***************************************
 */
.lang{
    font-style: italic;
}
.toggle-geoJSON{
    margin-left: 10px;
}
.map-normal{
    width: 100%;
    height: 400px;
}
.map-fullscreen{
    width: 100%;
    height: 100%;
}
.ol-attribution{
    max-width: calc(100% - 3em);
}
.ol-control button,
.ol-attribution,
.ol-scale-line-inner{
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
.side-thumbnail{
    max-width: 120px;
}
.combined-thumbnail{
    max-width: 240px;
}

/*
  ***************************************
  VISUALIZATION FORM
  ***************************************
*/
.quant-form input[type = text],
.quant-form select{
    width: 20em;
}
.quant-form select.era{
    width: 5em;
    margin-left: 10px;
}
.quant-form input.year,
.quant-form select.interval{
    width: 10em;
}
.control-container{
    display: inline;
    width: 20px;
}
.control-row .btn{
    margin: 0 5px;
}
.query-pair{
    display: block;
    margin-bottom: 15px;
}
.prop-container{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}